a:hover {
  background-color: rgb(182, 182, 72);
}

.para {
  line-height: 200%;
  font-size: x-large;
  font-style: inherit;
  color: white;
}

.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
  border: 3px solid transparent;
  background: linear-gradient(135deg, #ffe680, #ffd580) padding-box,
    linear-gradient(135deg, #f7e600, #ff8c00) border-box;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25), 0 0 20px rgba(255, 223, 88, 0.5);
  transition: all 0.4s ease;
  cursor: pointer;
}

/* Hover effect */
.profile-img:hover {
  transform: scale(1.07) rotate(2deg);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3), 0 0 25px rgba(255, 223, 88, 0.7);
  border-color: #fff8b0;
}

.text-shadow {
  text-shadow: 2px 2px #b8abab00;
}

.text-link {
  color: beige;
}

.project-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.card-image-container {
  overflow: hidden;
  height: 200px;

  .project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-content {
  padding: 1.5rem;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
}

.project-description {
  color: #555;
  line-height: 1.5;
}

.uni-img {
  width: 500px;
  height: 300px;
  border-radius: 5px;
}

.contact-section {
  padding: 50px 20px;
}

.contact-content {
  display: flex;
  gap: 1rem;
  /* space between cards */
}

.contact-content p-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.contact {
  background-color: #f8f9fa;
}

.email {
  background-color: #f8f9fa;
}

.contact-icon {
  font-size: 2rem;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
