<div class="flex justify-content-center m-4">
    <div class="content" style="max-width: 900px; text-align: justify;">
        <h2>Hi, I am Toe Htet Hte Lwin</h2>
        <p>I am a frontend developer.Experience in web design and development knowledge.
       </p>
    </div>
    <div class="image">
        <img src="assets\toe.jpeg" alt="Image"width="300px" class="rounded-image"/>
    </div>
</div>
<div class="flex justify-content-center">
    <p-button label="Next"(click)="goToAbout()" icon="pi pi-arrow-right" iconPos="right" severity="secondary" />
</div>
